.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.image {
  flex: 1;
  margin: .25rem;
  border-radius: 4px;

  object-fit: cover;
}
